<div class="container">
  <h1><%= @restaurant.name %></h1>
  <ul>
    <li><%= @restaurant.category %></li>
    <li><%= @restaurant.address%></li>
    <li><%= @restaurant.phone_number %></li>
  </ul>
  <%= link_to "back", restaurant_path %>
</div>
